/* CSS Document */

.jqHelp{
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.jqHelp_on{
    border-left: 5px solid #32CD32;!important
    width: 395px;
<<<<<<< HEAD


=======
	/*for chosen plugin*/
	 border: 1px solid #343434 !important;
>>>>>>> 595621e4f7a1df5e5a1d94801cf3c290ee6c1188
	
}


.jqHelp_off{
    border-left: 5px solid #EA1717; !important
    width: 395px;
	border-right:5px solid #006; !important
<<<<<<< HEAD
=======
	/*for chosen plugin*/
	 border: 1px solid #343434 !important;
>>>>>>> 595621e4f7a1df5e5a1d94801cf3c290ee6c1188
}