/*ColdFusion Mod*/
div.autosuggestcontainer .yui-ac-shadow{margin:1px;}
div.autosuggestcontainer li {color:#333;}
#Searchloadingicon{display:none;}
.x-grid3-header {background-image:none;border-bottom:1px solid #999;}
.x-grid3-hd-inner {background-image:none;height:40px;padding-top:20px;}
.x-grid3-row {height:30px; padding-top:2px;}
.cfdebug{margin-left:360px;margin-top:100px;}
td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner{background-image:none;
border-bottom:1px solid #999;}
/*jQuery Mod*/
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-radius: 0px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{border-radius: 0px;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{border-radius: 0px;}
.ui-accordion .ui-accordion-header{ padding:10px;padding-left:2.2em;margin-top: 0px;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background:#EFEFEF;}
.ui-datepicker-trigger{left: 3px; position: relative; top: 3px;}
.ui-accordion .ui-accordion-content { overflow:inherit;}
.ui-widget-content{border: none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border: 1px solid #fff;border-bottom: 1px solid #D3D3D3;}
/* CSS BROWSER RESET TO A STANDARD*/
*{margin:0;padding:0;border:none;border-collapse :collapse;font-family:"Lucida Sans Unicode","Lucida Grande","tahoma",Verdana,sans-serif; font-size:12px;}
/*Chosen Mod*/
.chzn-container a{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; height:36px}
.chzn-container-multi ul{ border: 1px solid #AAAAAA;  border-radius: 5px 5px 5px 5px;  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);}
.chzn-container-single .chzn-single{height:30px}
.chzn-container-multi .chzn-choices li.search-field .default{min-height: 36px !important;}
/* CSS GROUP MOD*/
html,body{position:relative;height:auto;min-height:100%;}
h1,h2,h3,h4,h5,h6{font-size:16px;}

/* CSS ELEMENT MOD*/
a{font-size:13px;color:#000;text-decoration: none;}
form{display:inline;}
footer{position:fixed;bottom:0;width:100%;height:42px;background:#F8F8F8;color:#000;padding-left:34px;border-top-style:solid;border-top-color:#E1E1DC;border-top-width:1px;}
footer div{font-size:12px;padding-top:2px; display:inline-block; min-width:200px;}
header{height:34px;background-color:#EFEFEF;border-bottom:1px solid #E1E1DC;width:100%;opacity:0.9;}
h1{font-weight:normal;}
h3{background-color:#EFEFEF;border-bottom:1px solid #E1E1DC;font-size:1em;font-weight:normal;min-width:400px;padding:10px;margin-bottom:35px;color:#666;}
h4{background-color:#EFEFEF;border-bottom:1px solid #E1E1DC;font-size:1em;font-weight:normal;min-width:400px;padding:10px;margin-top:35px;color:#666;}
input{border: 1px solid #AAAAAA; padding: 0 0 0 8px;   border-radius: 5px 5px 5px 5px;    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);width:400px;height:36px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;!important;}
input:focus{color:#0088CE;	box-shadow:0 0 0 2px rgba(0, 136,206,0.5);	}
input[type="button"]{background:#FF0;width:165px;}
input[type="submit"]{background:#FF0;width:165px;-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:-moz-linear-gradient(center top , #fcff00, #dddf42) repeat scroll 0 0 transparent;border-image:none;border-style:solid;border-width:1px;color:#000 !important;text-shadow:0 -1px 0 #dddf42}
input[type="checkbox"]{width:10px;}
.readonly{background-color:#dedede}
label{display:block;font-size:0.8em;margin-top:4px;width:400px;white-space:nowrap;}
legend{background-color:#EFEFEF;border-bottom:1px solid #E1E1DC;font-size:1em;font-weight:bold;height:40px;min-width:400px;padding:10px;}
nav{background-color:#F8F8F8;border-bottom:1px solid #E1E1DC;border-right:1px solid #E1E1DC;}
select {border-radius:2px 2px 2px 2px;min-height:30px;width:400px;border:solid 1px #666;}
td{vertical-align:top;}
textarea{border: 1px solid #AAAAAA;border-radius: 5px 5px 5px 5px;box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);min-width:400px;font-size:1em; padding: 6px; min-height: 300px;}

tr{vertical-align:top;}

/* CSS CLASS MOD*/
.bordered{border:1px solid #CCCCCC;border-radius:6px 6px 6px 6px;box-shadow:0 1px 1px #CCCCCC;margin-top:25px;}
.bordered tr:nth-child(odd){background-color:#EFEFEF;}
.bordered tr:hover{background:none repeat scroll 0 0 #FBF8E9;transition:all 0.1s ease-in-out 0s;}
.bordered td,.bordered th{border-top:1px solid #CCCCCC;padding:4px;text-align:left;font-size:12px;}
.bordered th{background-color:#DCE9F9;border-top:medium none;color:#666666;padding:7px 10px; border-left:1px solid #999;}
.bordered td:first-child, .bordered th:first-child{border-left:medium none;}
.bordered th:first-child{border-radius:6px 0 0 0;}
.bordered th:last-child{border-radius:0 6px 0 0;}
.bordered th:only-child{border-radius:6px 6px 0 0;}
.bordered td:not(:last-of-type):not(:first-of-type):not(:nth-child(2)){text-align:center;}
.bordered tr{height: 34px;}
.bordered tr:last-child td:first-child{border-radius:0 0 0 6px;}
.bordered tr:last-child td:last-child{border-radius:0 0 6px 0;}
.bordered thead{border-bottom:#FFF 1px solid;}

.bordered tfoot{}
.bordered tfoot tr td{margin:7px 10px;}
.bordered tfoot tr a{background-color:#FFFF00; cursor:pointer;border:1px solid #999999;color:#000000;font-size:1em;padding:3px 10px;text-decoration:none; font-weight:normal;}
.button{cursor:pointer;background:none repeat scroll 0 0 #FFFF00;border:1px solid #999999;border-radius:2px 2px 2px 2px;display:inline-block;padding:4px;text-align:center;white-space:nowrap;text-decoration:none;min-width:165px;font-size:1em;}
.optional{background-color:#D3D3D3;}
.buttonbox{margin-top:5px;white-space:nowrap; min-width:300px; display:inline-block;}/*the box that contains buttons for actions like save and cancel*/
.contentbig{vertical-align:top;margin-top:36px;margin-left:300px;margin-bottom: 42px;}/*Changes the content box to render along side a big right side menu*/
.contentsmall{vertical-align:top;margin-top:36px;margin-left:39px;}/*changes the content box to render along side a small right side menu*/
.customlabel{height:20px;margin-left:-5px;width:379px}/*Customlabels - would be used for text elements that modify a custom label*/
.help{display:inline-block;font-size:12px;height:30px;line-height:30px;padding-left:10px;}/*div element that render validation results*/
.smallMenuIcon li{border:1px solid #CCCCCC;cursor:pointer;height:34px;margin:2px 2px 4px;width:34px;cursor:pointer;}/*Icons for the small menus, graphics are modifed in the modual.css*/

.menus{height:100%;display:inline-block;vertical-align:top;position:fixed;left:0px;top:0px;}
/*.valid_on{border-left:5px solid rgb(50, 205, 50);width:395px;}is element valid yes*/
/*.valid_off{border-left:5px solid #EA1717;width: 395px;}is element valid no*/
.tblGrid{margin-top:20px;}
#entrance{margin-bottom:32px}

/* CSS ID MOD | ID MOD TRUMPS CLASS MOD*/
/*Small Right Side Menu*/
#smallMenu{width:38px;height:100%;float:left;margin-right:45px;position:fixed;}
#smallMenu h1{ font-size:1em; padding:0px; height:36px;}
/*Large Right Side Menu*/
#largeMenu{width:300px;height:100%;position:fixed;}
#largeMenu h1{border-bottom: 1px solid #BBBBBB;height: 36px;line-height: 36px; padding-bottom: 0;padding-left: 0;padding-right: 0;text-align: center; background:#EFEFEF;}
#largeMenu h1 a{ font-size: 14px;}
#largeMenu li{list-style-type:none;background-color:#FFF;color:#069;}
#largeMenu li:hover{background-color:#efefef;}
#largeMenu li a{display:block;overflow:hidden;padding:9px 52px 9px 13px;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;	cursor:pointer;}
#largeMenu li a:hover{color:#999;}
#largeMenu .smallMenuIcon li{display:inline-block;}

/*MODUAL SPECIFIC COLORS*/
/*Payroll & Taxes*/
._payrolltaxes{background-color:#F60000;border-bottom-color:#600;color:#fff;}
._payrolltaxes li{border-color:#600;}
/*Accounting Services*/
._accountingservices{background-color:#370EE4;border-bottom-color:#003;color:#fff;}
._accountingservices li{border-color:#003;}
/*Taxation*/
._taxation{background-color:#F3AE03;border-bottom-color:#F90;color:#fff;}
._taxation li{border-color:#F90;}
/*Client Management*/
._clientmanagement{background-color:#247639;border-bottom-color:#030;color:#fff;}
._clientmanagement li{border-color:#030;}
/*Practice Management*/
._practicemanagement{background-color:#A6A6A6;border-bottom-color:#333;color:#fff;}
._practicemanagement li{border-color:#333;}


/*RADIO BUTTONS AND CHECK BOXES*/
.gf-form label{font:normal normal 11px/13px Arial, Sans-serif;color:#000;cursor:pointer;}/* = common styles */
.gf-form label,.gf-checkbox input[type="checkbox"] + label::before,.gf-radio input[type="radio"] + label::before{vertical-align:middle;}
.gf-checkbox input[type="checkbox"],.gf-radio input[type="radio"]{position:absolute;opacity:0;}/* = hide the checkboxes and radios */
.gf-checkbox input[type="checkbox"] + label::before,.gf-radio input[type="radio"] + label::before{content:"";display:inline-block;width:13px;height:13px;line-height:13px;margin:0 8px 0 0;background:url("../img/sprite-checkbox.png") no-repeat 0 0;vertical-align:middle;}/* = we use generated content to create a placeholder for the checkbox and the radio */
.gf-form input[type="checkbox"]:disabled + label,.gf-form input[type="radio"]:disabled + label{opacity:.5;cursor:default;/* or cursor:no-drop */}/* = disabled checkbox or radio */
.gf-checkbox input[type="checkbox"]:not(:checked):hover + label::before{background-position:0 -13px;}/* = hover checkbox (unselected state only) */
.gf-checkbox input[type="checkbox"]:checked + label::before{background-position:0 -26px;}/* = selected checkbox */
.gf-radio input[type="radio"] + label::before{background-position:-13px 0;}/* = normal state radio */
.gf-radio input[type="radio"]:hover + label::before{background-position:-13px -13px;}/* = radio hover (unselected state only) */
.gf-radio input[type="radio"]:checked + label::before{background-position:-13px -26px;}/* = selected radio */
.gf-form input[type="checkbox"]:focus + label,.gf-form input[type="radio"]:focus + label{outline:dotted 1px;}/* =focused checkbox or radio | by not adding color to the value we force the use of system's default focus color "invert" */

/* older versions of internet explorer do not support either generated content, so we display the system checkboxes and radio buttons */
@media \0screen {.gf-checkbox input[type="checkbox"],
.gf-radio input[type="radio"] 
{position:static;}
}

